<h1 style = "font-family:Times New Roman; text-align: center;"><u>E pass serviceonline.gov.in</u></h1>
<br>
<div class="jumbotron bg-dark text-white ">

    <ul>
      <li style = "font-family:Star Wars;"><a href="https://tnepass.tnega.org/#/user/pass">TN Epass Apply here</a></li>
      <li style = "font-family:Star Wars;"><a href="https://serviceonline.gov.in/epass/">Government of India | e-Pass for Movement During Lockdown</a></li>
      <li style = "font-family:Star Wars;"><a href="https://covid19.mhpolice.in/">Covid19 epass:</a></li>
    </ul>

</div>
