<div class="bg-black text-center" >
  <h1 class="display-4"><i class="heartbeat icon"></i>CoronaVirus-19 <i class="chart bar icon"></i>Tracker <i class="fa fa-location-arrow" aria-hidden="true"></i> India</h1>
  <h3 class="display-4"><i class="address card icon"></i>Contact and HelpLine</h3>

  <div class="col-md-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fa fa-search fa-lg"></i></div>
  <input class=form-control  Type="text"  name="search"[(ngModel)]="Searchbox" autocomplete="off"placeholder="State/Number">
  <a class="btn btn-outline-secondary" (click)="searchclear()" *ngIf=Searchbox ><i class="fa fa-close"></i></a>
  <br>
  <hr>
      </div></div>
</div>
<hr>
<div class="table-responsive" id="tabheight">
  <table class="table table-bordered table-striped table-dark">
    <thead>
      <tr>
        <th scope="col"><i class="fa fa-location-arrow" aria-hidden="true"></i> State</th>
        <th scope="col"><i class="phone square icon"></i>Phone/Landline Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let cs of contact |filter: Searchbox ; let i=index;">
        <td><i class="fa fa-map-marker" aria-hidden="true"></i>  {{cs.loc}}</td>
        <td><i class="phone icon"></i>{{cs.number}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

