//light theme
$bg-theme-light:#fff;
$color-theme-light:#222;

// dark theme
$bg-theme-dark:#0f0f0f;
$color-theme-dark:#fff;

.content-box{
margin:20px auto 0 auto;
background-color: #eee;
color: $color-theme-light;
border: 8px;
padding: 30px 30px 40px 30px;
max-width:1400px;


}

.theme-switcher-wrap{
    width: 100%;
    text-align: center;
    margin-top: -20px;
.theme-switcher{
    display: inline-block;
    cursor: pointer;
    .switch-path{
        width: 40px;
        height:20px;
        border-radius: 10px;
        background-color: #ccc;
        .switch-handle{
            background-color: #999;
            width:20px;
            height:20px;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;

        }
    }
    .theme-switcher{
        display:none;
    }
    &.active{
        .switch-path{
            background-color: #555;
        }
        .switch-handle{
            transform: translateX(20px);
            background-color: #7bbb5e;
        }
}
}
}


.content.theme-dark{
   background-color: $bg-theme-dark;
    color: $color-theme-dark;
    .content-box{
        background-color: #0f0f0f;
        color:#eee;
        h1,h3,h5
        {color: #7bbb5e;
        }
        hr{
            border:1px dashed red;
            border-radius: 2px;
        }
        p{
            color: #ccc;

        }

    }
    .links{
         a{color:#fff;}
    }
    #bg{
        .navbar-brand{ a{
            color: #222;
        }
        }
    }
}
.fa-moon-o:before {
  content: "\f186";
  margin: 10px;
}
.fa-sun-o:before {
  content: "\f185";
  margin: 10px;
}
