
<div class="content {{storedTheme}}" role="main">
  <app-navbar></app-navbar>
  <div class="content-box">

    <div class="theme-switcher-wrap">
        <i class="fa fa-moon-o fa-2x" style="padding-right:15px;" *ngIf="storedTheme=='theme-light'"><h6>Dark theme</h6></i>
        <i class="fa fa-sun-o fa-2x" style="padding-right:15px;" *ngIf="storedTheme=='theme-dark'"><h6>Light theme</h6></i>
          <label
        [ngClass]="(storedTheme === 'theme-dark')?'theme-switcher active' :'theme-switcher'" (click)="setTheme()" >
            <div class="switch-path">
                <div class="switch-handle">
                </div>
            </div>
        </label>
    </div>

<router-outlet></router-outlet>
<br><br>
<app-symptoms></app-symptoms>
  </div>
</div>
<app-footer></app-footer>
