
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
  <ul class="nav justify-content-center">
  <a class="navbar-brand" routerLink='/'><div class="ui inverted segment">
   <h4 class="ui red inverted header"><i class="heartbeat icon"></i>CoronaVirus19-Tracker</h4>
   </div></a>

 </ul><p style="color: rgb(255, 255, 255);font-family:Star Wars;">Copyright ©2020 All rights reserved | Created By Barath Kumar Gunasekaran </p>

     <ul class="social-network social-circle">
       <li><a href="https://github.com/barathkumar15" class="icoRss" title="Github"><i class="fa fa-github "></i></a></li>
       <li><a href="https://www.facebook.com/barathkumar.gunasekaran" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
       <li><a href="https://twitter.com/smartbarath" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
       <li><a href="https://www.instagram.com/batty_lub/" class="icoGoogle" title="instagram"><i class="fa fa-instagram"></i></a></li>
       <li><a href="https://www.linkedin.com/in/barathkumar15/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
     </ul>

 </nav>


