<hr>
<div >

  <div class="container">
    <h1><img src="..\..\assets\images\covid19.png" height="50px">&nbsp;<b>SYMPTOMS OF CORONAVIRUS</b>&nbsp;<img src="..\..\assets\images\stopcovid.png" height="50px"></h1>
  <p style = "font-family:Star Wars;"> People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:
<br>
<br>
<b>Fever or chills</b>
<br>
<b>Cough</b>
<br>
<b>Shortness of breath or difficulty breathing</b>
<br>
<b>Fatigue</b>
<br>
<b>Muscle or body aches</b>
<br>
<b>Headache</b>
<br>
<b>New loss of taste or smell</b>
<br>
<b>Sore throat</b>
<br>
<b>Congestion or runny nose</b>
<br>
<b>Nausea or vomiting</b>
<br>
<b>Diarrhea</b>
<br>
<br>
This list does not include all possible symptoms. CDC will continue to update this list as we learn more about COVID-19.
</p></div>
 </div>
 <br>
   <br>
   <hr >
 <div>
 <div class="container">
  <h1><img src="..\..\assets\images\covid19.png" height="50px">&nbsp;<b>When to seek emergency medical attention</b>&nbsp;<img src="..\..\assets\images\stopcovid.png" height="50px"></h1><br>
   <p style = "font-family:Star Wars;">Look for emergency warning signs* for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately:
<br>
<br>
  <b>Trouble breathing</b>
  <br>
  <b>Persistent pain or pressure in the chest</b>
  <br>
  <b>New confusion</b><br>
  <b>Inability to wake or stay awake</b><br>
  <b>Bluish lips or face</b><br>
  <br>
  *This list is not all possible symptoms. Please call your medical provider for any other symptoms that are severe or concerning to you.

  Call 911 or call ahead to your local emergency facility: Notify the operator that you are seeking care for someone who has or may have COVID-19.
</p>
</div>
 </div>


 <br>
 <br>
 <div class="jumbotron bg-dark text-white text-center">
  <img src="../../assets/images/barathkumar.jpg" class="avatar">
  <h2 style = "font-family:Times New Roman;">About Me</h2>
  <h3 style = "font-family:Times New Roman;">BARATH KUMAR GUNASEKARAN</h3>

  <p style = "font-family:Times New Roman;">

      Experienced Software Engineer with a demonstrated history of working in the internet industry. Skilled in  Angular, .Net, C#, Java, HTML, CSS, DBMS, WebApi.
      Interested in web Developement,
      Strong engineering professional with a Master of Computer Application (MCA) focused in Computer Application from SRM University.
  </p>
  <p style = "font-family:Times New Roman;">Hobbies: Website developing and Freelancing</p>

  <p style = "font-family:Times New Roman;">Contact: <a href="barathkumar_gs@outlook.com">barathkumar_gs@outlook.com</a></p>

<p style = "font-family:Star Wars;"><a href="https://barathkumarg.blogspot.com/2020/08/coronavirus19-tracker.html">Detailed About CoronaVirus19-Tracker Click here.</a></p>
<p style = "font-family:Star Wars;"><a href="https://youtu.be/t_1bWx4dqSU">Click here for Demo Video</a></p>
</div>
